$eerie-black: #1a1a1a;
$dark-eerie-black: #262626;
$selective-yellow: #ffb700;
$goldenrod: #eba900;
$orange: #ff8000;
$quick-silver: #a4a4a4;
$white: #ffffff;
$alice-blue: #e7f4fe;
$spanish-blue: #0071c2;
$bright-navy-blue: #1879ca;
$font__weight--label: 500;
$font__weight--input: 400;
$full__width: 100%;
$font__family--body: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI,
  Roboto, Helvetica, Arial, sans-serif;
$font__family--form: "BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif";
$font__size--label: 1rem;
$font__size: 0.875rem;
$line__height--results: 1.25rem;
$border__radius--searchwidget: 8px;
$border__radius--results: 4px;
